#map {
  background-image: url(../img/Main_Map_Background_G1.gif);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-color: rgb(0, 0, 0);
}

#house {
  background-image: url(../img/househomebg.png);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-color: rgb(0, 0, 0);
}

#fish {
  background-image: url(../img/fishbgG1.gif);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-color: rgb(0, 0, 0);
}

#gather {
  background-image: url(../img/gatherbgG1.gif);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-color: rgb(0, 0, 0);
}

#medic {
  background-image: url(../img/Medicbg.png);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-color: rgb(0, 0, 0);
}
#whoareyou {
  background-image: url(../img/waybg.png);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-color: rgb(0, 0, 0);
}
#skill{
  background-image: url(../img/clickedbackground.png);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-color: rgb(0, 0, 0);
}
.skilltext{
  text-align: center;
  margin-top: 5%;
}
#clickedhouse{
  background-image: url(../img/clickedhousebgG1.gif);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-color: rgb(0, 0, 0);
}
#faq{
  background-image: url(../img/clickedbackground.png);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-color: rgb(0, 0, 0);
}

.faqtext{
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

p{
  font-family: "Irish Grover", system-ui;
  color: #000000;
  font-size: 35px;
  text-align: center;
}

.housebutton{
  position: absolute;
  left: 30.5%;
  top: 49%;
}

.homeicon {
  margin-top: 50px;
  margin-bottom: 70px;
  margin-left: 30px;
}
.homeicongather {
  margin-top: 30px;
  margin-bottom: 70px;
  margin-left: 30px;
}
.homeiconhouse {
  margin: none;
}
.homeiconway{
  margin-top: 45px;
  margin-bottom: 70px;
  margin-left: 45px;
}


h1 {
  font-family: "Irish Grover", system-ui;
  color: #000000;
  font-size: 55px;
  text-align: left;
}

.housepagetitle{
  text-align: center;
  font-size: 40px;
  margin: none;
  color: black;
}

.firehouse{
  text-align: center;
}

h2 {
  font-family: "Irish Grover", system-ui;
  color: #000000;
  font-size: 30px;
  text-align: left;
}

#nav-container {
  width: 20%;
  position: absolute;
  left: 11%;
  top: 17%;
}

#nav-container div {
  margin-bottom: 50px;
  margin-top: 50px;
}

.wayb,
.wayb img {
  width: 95%;
}

.skillb,
.skillb img {
  width: 95%;
}

.faqb,
.faqb img {
  width: 95%;
}

.medichome {
  position: absolute;
  left: 65%;
  top: 48%;
}

.gatherhome {
  position: absolute;
  left: 70%;
  top: 40%;
}

.fisherhome {
  position: absolute;
  left: 75%;
  top: 15%;
}

.househome {
  position: absolute;
  left: 62%;
  top: 30%;
}

.fishergrid {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 200px 200px 200px;
}

.fish1 {
  grid-column: 2;
  grid-row: 1;
}
.fish2 {
  grid-column: 3;
  grid-row: 1;
}
.fish3 {
  grid-column: 4;
  grid-row: 1;
}
.fish4 {
  grid-column: 5;
  grid-row: 1;
}
.fish5 {
  grid-column: 6;
  grid-row: 1;
}
.fish6 {
  grid-column: 7;
  grid-row: 1;
}
.fish7 {
  grid-column: 2;
  grid-row: 2;
}
.fish8 {
  grid-column: 3;
  grid-row: 2;
}
.fish9 {
  grid-column: 4;
  grid-row: 2;
}
.fish10 {
  grid-column: 5;
  grid-row: 2;
}
.fish11 {
  grid-column: 6;
  grid-row: 2;
}
.fish12 {
  grid-column: 7;
  grid-row: 2;
}
.fish13 {
  grid-column: 2;
  grid-row: 3;
}
.fish14 {
  grid-column: 3;
  grid-row: 3;
}
#fish15 {
  grid-column: 4;
  grid-row: 3;
  font-size: 30px;
  color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.fish16 {
  grid-column: 5;
  grid-row: 3;
}
.fish17 {
  grid-column: 6;
  grid-row: 3;
}
.fish18 {
  grid-column: 7;
  grid-row: 3;
}
.fish19 {
  grid-column: 2;
  grid-row: 4;
}
.fish20 {
  grid-column: 3;
  grid-row: 4;
}
.fish21 {
  grid-column: 4;
  grid-row: 4;
}
.fish22 {
  grid-column: 5;
  grid-row: 4;
}
.fish23 {
  grid-column: 6;
  grid-row: 4;
}
.fish24 {
  grid-column: 7;
  grid-row: 4;
}

#character1{
  position: absolute;
  left: 10%;
  top: 30%;
}
#character2{
  position: absolute;
  left: 40%;
  top: 30%;
}
#character3{
  position: absolute;
  left: 70%;
  top: 30%;
  
}

.gathergrid {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 200px 200px 200px;
}
#coconut1 {
  grid-column: 2;
  grid-row: 4;
}
#coconut2 {
  grid-column: 3;
  grid-row: 4;
}
#coconut3 {
  grid-column: 4;
  grid-row: 4;
}
#coconut4 {
  grid-column: 5;
  grid-row: 4;
  font-size: 25px;
  color: #000000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#coconut5 {
  grid-column: 6;
  grid-row: 4;
}

.potiongrid {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 200px 200px 200px;
}
#potion1 {
  grid-column: 3;
  grid-row: 6;
}
#potion2 {
  grid-column: 4;
  grid-row: 5;
}
#potion3 {
  grid-column: 5;
  grid-row: 6;
}
#potion4 {
  grid-column: 6;
  grid-row: 5;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#potion5 {
  grid-column: 7;
  grid-row: 6;
}
.homeiconmedic{
  grid-column: 1;
  grid-row: 1;
 }
#fisherskill{
  position: absolute;
  left: 10%;
  top: 30%;
}
#gatherskill{
  position: absolute;
  left: 37%;
  top: 30%;
}
#medicskill{
  position: absolute;
  left: 65%;
  top: 30%;
}

img:hover {
  transform: scale(1.3);
}