#map{
    background-image: url(../img/Main_Map_Background_G1.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 0);
    background-position: absolute;
}

#house {
    background-image: url(../img/househomebg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 0);
    background-position: absolute;
}

#fish {
    background-image: url(../img/fishbgG1.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 0);
    background-position: absolute;
}

#gather {
    background-image: url(../img/gatherbgG1.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 0);
    background-position: absolute;
}

#medic {
    background-image: url(../img/clickedbackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 0);
    background-position: absolute;
}

.homeicon{
  margin-top: 50px;
  margin-bottom: 70px;
  margin-left: 30px;
}
.homeicongather{
  margin-top: 30px;
  margin-bottom: 70px;
  margin-left: 30px;
}
.homeiconhouse{
  
}

h1{
    font-family: "Irish Grover", system-ui;
    color: #ffffff;
    font-size: 55px;
    text-align: center;
}

h2{
    font-family: "Irish Grover", system-ui;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
}
.gridlayout{
  display: grid;
  grid-template-columns: 10% 20% 10% 10% 10% 10% 10% 10%; 
  gap: 10px;
  grid-template-rows:minmax(100px) 100px 100px 100px;
  margin-top: 150px;
}
    .wayb{
        grid-column: 2;
        grid-row: 2;
    }

    .skillb{
      grid-column: 2;
      grid-row: 3;
    }

    .faqb{
      grid-column: 2;
      grid-row: 4;
    }

    .medichome{
        grid-column: 6;
        grid-row: 4;
    }

    .gatherhome{
        grid-column: 7;
        grid-row: 3 ;
    }

    .fisherhome{
        grid-column: 7 ;
        grid-row: 1;
    }

    .househome{
        grid-column: 6;
        grid-row: 3;
    }

.fishergrid{
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 200px 200px 200px;
}

  .fish1{
    grid-column: 2;
    grid-row: 1;
  }
  .fish2{
    grid-column: 3;
    grid-row: 1;
  }
  .fish3{
    grid-column: 4;
    grid-row: 1;
  }
  .fish4{
    grid-column: 5;
    grid-row: 1;
  }
  .fish5{
    grid-column: 6;
    grid-row: 1;
  }
  .fish6{
    grid-column: 7;
    grid-row: 1;
  }
  .fish7{
    grid-column: 2;
    grid-row: 2;
  }
  .fish8{
    grid-column: 3;
    grid-row: 2;
  }
  .fish9{
    grid-column: 4;
    grid-row: 2;
  }
  .fish10{
    grid-column: 5;
    grid-row: 2;
  }
  .fish11{
    grid-column: 6;
    grid-row: 2;
  }
  .fish12{
    grid-column: 7;
    grid-row: 2;
  }
  .fish13{
    grid-column: 2;
    grid-row: 3;
  }
  .fish14{
    grid-column: 3;
    grid-row: 3;
  }
  #fish15{
    grid-column: 4;
    grid-row: 3;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .fish16{
    grid-column: 5;
    grid-row: 3;
  }
  .fish17{
    grid-column: 6;
    grid-row: 3;
  }
  .fish18{
    grid-column: 7;
    grid-row: 3;
  }
  .fish19{
    grid-column: 2;
    grid-row: 4;
  }
  .fish20{
    grid-column: 3;
    grid-row: 4;
  }
  .fish21{
    grid-column: 4;
    grid-row: 4;
  }
  .fish22{
    grid-column: 5;
    grid-row: 4;
  }
  .fish23{
    grid-column: 6;
    grid-row: 4;
  }
  .fish24{
    grid-column: 7;
    grid-row: 4;
  }
  
  
img:hover{
    transform: scale(1.3);
 }